.title_c{text-align: right;padding: 30px 0px;}
.title_c a{display: flex;justify-content: start;align-items: center;direction: rtl;text-align: right;}
.title_c .title{font-size: 20px;margin-left: 30px;color: #5c5c5c;}